SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=tls
MAIL_USERNAME=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_FROM_ADDRESS=your-email@example.com
MAIL_FROM_NAME="Контактна Форма"
MAIL_TO_ADDRESS=destination-email@example.com
